/*~~~~~CSS for all pages~~~~~*/
body{
  /*background-color:#FAF9F6;*/
  background-color:white;
}

.navbar{
  /*background-color:#FAF9F6;*/
  background-color:white;
  padding-left:10px;
  padding-right:10px;
  margin-bottom:20px;
}

.page-content{
  margin-left:20px;
  margin-right:20px;
}

.page-title{
  margin-bottom:20px;
  text-align:center;
}

/*~~~~~CSS for welcome page~~~~~*/
.welcome-title-div{
  padding-top:100px;
  text-align:center;
}

.welcome-title{
  font-size:125px;
}

/*~~~~~CSS for logout page~~~~~*/
.goodbye-title-div{
  padding-top:100px;
  text-align:center;
}

/*~~~~~CSS for project cards~~~~~*/
.project-card2{
  border: none;
}

.project-card{
  box-shadow: 7px 7px 10px rgb(75, 75, 75);
}

.project-card-title{
  color: #73b2bb;
}

.project-card-blurb{
  margin-top:5px;
  padding-top:10px;
  border-top: 1px solid grey;
}

.project-card-description{
  border-top: 1px solid grey;
  white-space: pre-line;
}

/*~~~~~CSS for register,login, and profile forms~~~~~*/
.register-login-profile-form{
  width:500px;
}

.log-reg-container1>{
  display:flex;
  flex-direction:column;
  column-gap:10px;
  justify-content:center;
}

.alert{
  text-align:center;
  width:600px;
}

.log-reg-container2{
  display:flex;
  justify-content:center;
  align-items:center;
}

.log-reg-container3{
  display:flex;
  justify-content:center;
}

/*~~~~~CSS for like/unlike button~~~~~*/
.likebutton{
  font-size:20px;
  border-radius:10px;
}

/*~~~~~CSS for all class project pages~~~~~*/
.container{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  row-gap:20px;
  column-gap:20px;
}

/*~~~~~CSS for project details page~~~~~*/
.project-container1{
  display:flex;
  flex-direction:row;
}

.project-container2{
  display:flex;
  flex-direction:column;
  width:40%;
  padding-top:192px; /*remove this if switching back to project_detail.html*/
  padding-bottom:30px;

}

.project-comment{
  width:60%;
}

.video-container{
  display:flex;
  width:100%;
  justify-content:center;
}

.video-div{
  display:flex;
  justify-content:center;
  align-items:top;
  height:300px;
  padding-left:30px;
  padding-right:30px;
}

.photo-gallery{
  display:flex;
  justify-content:center;
  /*align-items:center;*/
  padding-left:30px;
  padding-right:30px;
  padding-bottom:30px;
}