
body{
  /*background-color: rgb(159, 243, 208);*/
  background-color:white;
}

.main-navigation-bar {
  background-color: #77DD77;
  padding-left:10px;
  padding-right:10px;
}

.page-content{
  margin-left:20px;
  margin-right:20px;
}

.page-title{
  margin-top:20px;
  margin-bottom:20px;
}

.project-card{
  margin-top:10px;
  margin-bottom:10px;
  box-shadow: 5px 5px 7px grey;
}

.project-card-title{
  color: #77DD77;
}

.project-card-blurb{
  margin-top:5px;
  padding-top:10px;
  border-top: 1px solid grey;
}

.register-form{
  width:800px;
}