
body{
  /*background-color: rgb(159, 243, 208);*/
  background-color:	#caebd3;
}

.navbar {
  background-color: #50a569;
  padding-left:10px;
  padding-right:10px;
  margin-bottom:20px;
}

.page-content{
  margin-left:20px;
  margin-right:20px;
}

.page-title{
  margin-bottom:20px;
  text-align:center;
}

.welcome-title-div{
  padding-top:100px;
  text-align:center;
}

.welcome-title{
  font-size:125px;
}

.project-card{
  /*margin-top:10px;
  margin-bottom:10px;
  margin:10px;*/
  box-shadow: 7px 7px 10px rgb(75, 75, 75);
}

.project-card-title{
  color: #77DD77;
}

.project-card-blurb{
  margin-top:5px;
  padding-top:10px;
  border-top: 1px solid grey;
}

.project-card-description{
  /*margin-top:5px;
  padding-top:10px;*/
  border-top: 1px solid grey;
  white-space: pre-line;
}

.register-login-profile-form{
  width:500px;
}

.alert-messages{
  width:800px;
}

.likebutton{
  font-size:10px;
  border-radius:10px;
}

.container{
  /*flex-direction:row;*/
  display:flex;
  flex-wrap:wrap;
  /*align-content:space-evenly;*/
  justify-content:center;
  row-gap:20px;
  column-gap:20px;
}