{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
    <form method="POST">
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">New comment</legend>
            {% csrf_token %}
            {{ form|crispy }}
        </fieldset>
        <br>
        <div class='form-group'>
            <button class="btn btn-outline-info" type='submit'>Add comment</button>
        </div>
    </form>
</div>
{% endblock content %}