{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="card project-card" style="width: 800px;">
    <!--<img src="..." class="card-img-top" alt="...">-->
    <div class="card-body project-card-body">
        <h2>{{ project.title }}</h2>
        <h5>{{ project.student.first_name }} {{ project.student.last_name }}</h5>
        <div class='project-card-blurb'>
            <p>{{ project.description }}</p>
        </div>
        {% if project.student == user %}
            <a href="{% url 'update-project' project.pk %}">Edit</a>
            <a href="{% url 'delete-project' project.pk %}">Delete</a>
    {% endif %}
    </div>
</div>
<div class='register-login-profile-form'>
    <form method="POST">
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">New comment</legend>
            {% csrf_token %}
            {{ form|crispy }}
        </fieldset>
        <br>
        <div class='form-group'>
            <button class="btn btn-outline-success" type='submit'>Add comment</button>
        </div>
    </form>
</div>
{% endblock content %}