{% extends "main/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class='register-login-profile-form'>
    <form method='POST'>
        <fieldset class='form-group'>
            <legend class='border-bottom mb-4'>Update project</legend>
            <h1>{{ user.profile.project_title }}</h1>
            {% csrf_token %}
            <br>
            <legend class='border-bottom mb-4'>Project information</legend>
            {{ p_form|crispy }}
        </fieldset>
        <br>
        <div class='form-group'>
            <button class='btn btn-outline-info' type='submit'>Update</button>
        </div>
    </form>
</div>
{% endblock content %}