{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class='page-title'>
    <h1>Select your period page!</h1>
</div>
<div class='register-login-form'>
    <form method='POST'>
        <fieldset class='form-group'>
            <legend class='border-bottom mb-4'>What period are you in?</legend>
            {% csrf_token %}
            {{ form|crispy }}
        </fieldset>
        <br>
        <div class='form-group'>
            <button class='btn btn-outline-info' type='submit'>Sign up</button>
        </div>
    </form>
</div>
{% endblock content %}