{% extends "main/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <h1 >{{ object.title }}</h1>
            <h2>{{ object.user.first_name }} {{ project.user.last_name }}</h2>
            <p>{{ object.description }}</p>
        </div>
    </article>
    <!--{% for comment in profile.comments.all %}
        <p>{{ comment.content }} - {{ comment.author.first_name }} {{ comment.author.last_name }}</p>
    {% endfor %}-->
    <!--<a href= url 'add-comment' profile.id >Add comment</a>-->
{% endblock %}