{% extends "main/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% load embed_video_tags %}

<div class='project-container'>
    <!--<div class="card project-card" style="width: 800px;">-->
    <div class="card project-card" >
        <!--<img src="..." class="card-img-top" alt="...">-->
        <div class="card-body project-card-body">
            <h2>{{ project.title }}</h2>
            <h5>{{ project.student.first_name }} {{ project.student.last_name }}</h5>
            <div class='project-card-description'>
                <p>{{ project.description }}</p>
            </div>
            {% if project.student != user %}
                <form method="POST">
                    {% csrf_token %}
                    <input type='hidden' name='post_id' value="{{ project.id }}">
                        {% if user not in project.liked.all %}
                            <button class="likebutton btn btn-outline-info" type='submit' name='likebutton'>Vote</button>
                        {% else %}
                            <button class="likebutton btn btn-outline-success likebutton" type='submit' name='likebutton'>I voted!</button>
                        {% endif %}
                </form>
            {% endif %}
            {% if project.student == user %}
                <a href="{% url 'update-project' project.pk %}">Edit</a>
                <a href="{% url 'delete-project' project.pk %}">Delete</a>
            {% endif %}
        </div>
    </div>
    <div class='video-container'>
        <div class='video-div'>
            {% if project.url %}
                {% video project.url '320x220' %}
            {% endif %}
        </div>
    </div>
</div>

{% if not comments %}
    <br>
    <h3>No comments yet...</h3>
    <!--<a href=url 'add-comment' project.pk >Add Comment</a>-->
{% else %}
    <br>
    <h3>Comments</h3>
    {% for comment in comments %}
        <b>{{ comment.author.first_name }} {{ comment.author.last_name }}</b>
        <p>{{ comment.content }}</p>
    {% endfor %}
    <!--<a href= url 'add-comment' project.pk >Add Comment</a>-->
{% endif %}

<br>
{% if project.student != user %}
    <h3>Add comment</h3>
    <div class='register-login-profile-form'>
        <form method="POST" class='comment-form'>
            <fieldset class="form-group">
                {% csrf_token %} 
                {{ comment_form|crispy }}
            </fieldset>
            <br>
            <div class='form-group'>
                <button class="btn btn-outline-success comment-button" type='submit' name='commentbutton'>Add comment</button>
            </div>
        </form>
    </div>
{% endif %}

{% endblock %}